<!--
////////////////////////////////////////////////////////////////////////
//                                                                    //
// Copyright (c) 2019 Raí B. Toffoletto (https://toffoletto.me)       //
//                                                                    //
// This program is free software; you can redistribute it and/or      //
// modify it under the terms of the GNU General Public                //
// License as published by the Free Software Foundation; either       //
// version 2 of the License, or (at your option) any later version.   //
//                                                                    //
// This program is distributed in the hope that it will be useful,    //
// but WITHOUT ANY WARRANTY; without even the implied warranty of     //
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU  //
// General Public License for more details.                           //
//                                                                    //
// You should have received a copy of the GNU General Public          //
// License along with this program; if not, write to the              //
// Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,   //
// Boston, MA 02110-1301 USA                                          //
//                                                                    //
// Authored by: Raí B. Toffoletto <rai@toffoletto.me>                 //
//                                                                    //
////////////////////////////////////////////////////////////////////////
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>.: Sprintplank - Aedifico administration</title>
    <link type="text/css" rel="stylesheet" href="/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/simplemde.css" />
    <link type="text/css" rel="stylesheet" href="/fontawesome.css" />
    <link type="text/css" rel="stylesheet" href="/codemirror.css" />
    <style>
      .text-larger {
        font-size: 125%;
      }
      .alert {
        display: none;
      }
      .CodeMirror {
        padding: 0;
      }
      .CodeMirror, .CodeMirror-scroll {
        height: auto;
        min-height: 70px;
      }
      .card-body {
        padding: 8px 24px;
      }
      .card-body dt {
        margin-top: 16px;
      }
      .card-body li {
        margin: 4px;
      }
    </style>
  </head>
  <body id="page-top">
    <!-- modal -->
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title" id="exampleModalLabel">Delete file for sure?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger delete">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control form-control-lg" id="fileName">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary createNew">Create</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="commitModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h5 class="modal-title" id="exampleModalLabel">
                Commit changes to <span id="branchModal"></span> and push them?
              </h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger commit">Commit</button>
            </div>
          </div>
        </div>
      </div>
    <!-- content -->
    <div id="wrapper">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-fw fa-tachometer-alt"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Sprintplank</div>
        </a>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">Content</div>
        <li class="nav-item">
          <a class="nav-link py-1" href="/pages">
            <i class="fas fa-fw fa-scroll"></i>
            <span>Pages</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-1" href="/posts">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Posts</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-1" href="/multimedia">
            <i class="fas fa-fw fa-photo-video"></i>
            <span>Media</span>
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link py-1" href="/menu">
            <i class="fas fa-fw fa-cog"></i>
            <span>Menu</span>
          </a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">Configuration</div>
        <li class="nav-item">
          <a class="nav-link collapsed py-1" href="#" data-toggle="collapse" data-target="#collapseCSS" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fab fa-fw fa-css3"></i>
            <span>CSS</span>
          </a>
          <div id="collapseCSS" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <% css_files.forEach (i => { %>
                <a class="collapse-item" href="/edit-raw/?f=<%- i.path %>"><%- i.name %></a>
              <% }); %>
              <a class="collapse-item" href="/new/?p=&d=<%- css_path %>" ref="addNew" data-modal-title="Create new css file">
                <i class="fas fa-fw fa-folder-plus"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed py-1" href="#" data-toggle="collapse" data-target="#collapseTemplates" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-file-code"></i>
            <span>Templates</span>
          </a>
          <div id="collapseTemplates" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <% views_files.forEach (i => { %>
                <a class="collapse-item" href="/edit-raw/?f=<%- i.path %>"><%- i.name %></a>
              <% }); %>
              <a class="collapse-item" href="/new/?p=&d=<%- views_path %>" ref="addNew" data-modal-title="Create new template file">
                <i class="fas fa-fw fa-folder-plus"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed py-1" href="#" data-toggle="collapse" data-target="#collapseScripts" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fab fa-fw fa-js-square"></i>
            <span>Scripts</span>
          </a>
          <div id="collapseScripts" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <% js_files.forEach (i => { %>
                <a class="collapse-item" href="/edit-raw/?f=<%- i.path %>"><%- i.name %></a>
              <% }); %>
              <a class="collapse-item" href="/new/?p=&d=<%- js_path %>" ref="addNew" data-modal-title="Create new script file">
                  <i class="fas fa-fw fa-folder-plus"></i>
                </a>
            </div>
          </div>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link py-1" href="/edit-raw/?f=<%- appjs %>">
            <i class="fas fa-fw fa-code"></i>
            <span>App.JS</span>
          </a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
          Admin
        </div>
        <li class="nav-item">
          <a class="nav-link py-1" rel="preview" href="#">
            <i class="fas fa-fw fa-eye"></i>
            <span>Preview</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-1" rel="publish" href="#">
            <i class="fas fa-fw fa-upload"></i>
            <span>Publish</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-1" href="/logoff">
            <i class="fas fa-fw fa-door-open"></i>
            <span>Exit</span>
          </a>
        </li>
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
    <!-- ========================= page contents ========================= -->
      <div id="content-wrapper" class="d-flex flex-column" style="overflow-x: inherit!important;">
        <div id="content">
          <div class="container-fluid mt-4 clearfix">
            <div class="d-sm-flex mb-4 float-md-left">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle p-0 mr-3">
                    <i class="fa fa-bars"></i>
                  </button>
                  <% path.forEach (item => { %>
                    <li class="breadcrumb-item">
                      <%= item %>
                    </li>
                  <% }); %>
                </ol>
              </nav>
              <!-- <h1 class="h3 mb-0 text-gray-800 d-inline-block">Sprintplank</h1> -->
            </div>
            <% if (showSearch) { %>
              <div class="d-sm-flex mb-4 float-md-right">
                <input type="text" class="form-control" id="searchInput" placeholder="Search">
              </div>
            <% } %>
          </div>