<%- include ('header') %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row align-items-center h-100">
            <div class="col mr-2">
              <span class="h5 font-weight-bold text-primary text-uppercase mb-1">Pages : </span>
              <span class="h5 mb-0 font-weight-bold text-gray-800"><%= pages %></span>
            </div>
            <div class="col-auto">
              <i class="fas fa-scroll fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row align-items-center h-100">
            <div class="col mr-2">
              <span class="h5 font-weight-bold text-success text-uppercase mb-1">Posts : </span>
              <span class="h5 mb-0 font-weight-bold text-gray-800"><%= posts %></span>
            </div>
            <div class="col-auto">
              <i class="fas fa-newspaper fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row align-items-center h-100">
            <div class="col mr-2">
              <span class="h5 font-weight-bold text-info text-uppercase mb-1">Media : </span>
              <span class="h5 mb-0 font-weight-bold text-gray-800"><%= media %></span>
            </div>
            <div class="col-auto">
              <i class="fas fa-photo-video fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr width="80%" />
  <% if (check_status) { %>
    <h1 class="h3 my-4 text-center text-gray-800">Uncommitted Changes</h1>
  <% } %>
  <div class="row justify-content-center">
    <% if (status.new.length > 0) { %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow py-2">
          <div class="card-body">
            <div class="row align-items-center h-100">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-primary text-uppercase mb-1">New : </div>
                <div class="font-weight-bold">
                  <% status.new.forEach (f => { %>
                    <li><%= f %></li>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (status.modified.length > 0) { %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow py-2">
          <div class="card-body">
            <div class="row align-items-center h-100">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-success text-uppercase mb-1">Modified : </div>
                <div class="font-weight-bold">
                  <% status.modified.forEach (f => { %>
                    <li><%= f %></li>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (status.renamed.length > 0) { %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow py-2">
          <div class="card-body">
            <div class="row align-items-center h-100">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-info text-uppercase mb-1">Renamed : </div>
                <div class="font-weight-bold">
                  <% status.renamed.forEach (f => { %>
                    <li><%= f %></li>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (status.typechange.length > 0) { %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow py-2">
          <div class="card-body">
            <div class="row align-items-center h-100">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-info text-uppercase mb-1">Typechange : </div>
                <div class="font-weight-bold">
                  <% status.typechange.forEach (f => { %>
                    <li><%= f %></li>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (status.deleted.length > 0) { %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow py-2">
          <div class="card-body">
            <div class="row align-items-center h-100">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-danger text-uppercase mb-1">Deleted : </div>
                <div class="font-weight-bold">
                  <% status.deleted.forEach (f => { %>
                    <li><%= f %></li>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (status.ignored.length > 0) { %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow py-2">
          <div class="card-body">
            <div class="row align-items-center h-100">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-secondary text-uppercase mb-1">Ignored : </div>
                <div class="font-weight-bold">
                  <% status.ignored.forEach (f => { %>
                    <li><%= f %></li>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (status.conflicted.length > 0) { %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow py-2">
          <div class="card-body">
            <div class="row align-items-center h-100">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-warning text-uppercase mb-1">Conflicted : </div>
                <div class="font-weight-bold">
                  <% status.conflicted.forEach (f => { %>
                    <li><%= f %></li>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Running Services:</h6>
        </div>
        <div class="card-body">
          <br/>
          <pre>
            <%= aedifico %>
            <%= aedifico_preview %>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('footer') %>
