<% include header %>
<div class="container">
  <div class="table-responsive shadow">
    <table class="table table-hover">
      <thead class="bg-primary text-light">
        <tr>
          <th scope="col" width="150px" class="text-center">type</th>
          <th scope="col">file</th>
          <th scope="col">modified</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% media.list.forEach (f => { %>
          <tr>
            <td class="text-center">
              <%= f.type %>
              <% if (f.thumbnail) { %>
                <br />
                <img src="/download/<%= f.name %>?f=<%= f.path %>" alt="thumbnail" class="rounded img-thumbnail"/>
              <% } %>
            </td>
            <td class="searchable"><%= f.name %></td>
            <td><%= f.date %></td>
            <td>
              <a href="/download/<%= f.name %>?f=<%= f.path %>">
                <i class="fas fa-fw fa-download"></i>
              </a>
            </td>
            <td>
              <a ref="delete" href="/delete/?f=<%= f.path %>&p=multimedia">
                <i class="fas fa-fw fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="container my-4">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="uploadMedia" />
      <label class="custom-file-label" for="uploadMedia">
        <i class="fas fa-fw fa-upload"></i>
        Upload file
      </label>
    </div>
    <div class="alert alert-danger" role="alert" id="uploadMediaError">
      <strong>Error</strong> uploading media file.
      <button type="button" class="close" data-close aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<% include footer %>