<%- include ('header') %>
<div class="container">
  <div class="table-responsive shadow">
    <table class="table table-hover">
      <thead class="bg-primary text-light">
        <tr>
          <th scope="col" class="text-center">title</th>
          <th scope="col" class="text-center">file</th>
          <th scope="col" class="text-center">modified</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% posts.list.forEach (f => { %>
          <tr class="text-center">
            <td class="searchable">
              <strong><%= f.title %></strong>
            </td>
            <td class="searchable"><%= f.name %></td>
            <td><%= f.date %></td>
            <td>
              <a href="/posts/?f=<%= f.path %>">
                <i class="fas fa-fw fa-edit"></i>
              </a>
            </td>
            <td>
              <a ref="delete" href="/delete/?f=<%= f.path %>&p=posts">
                <i class="fas fa-fw fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="mt-4 mr-4 float-right">
    <a href="/new/?p=posts&d=<%- new_path %>" class="text-larger" ref="addNew" data-modal-title="Enter new post's title">
        <i class="fas fa-fw fa-folder-plus"></i>
        add new item
    </a>
  </div>
</div>
<%- include ('footer') %>
